.license__title {
  margin-top: 150px;
  font-size: 20px;
}

.license__article {
  margin-bottom: 80px;
  font-family: "Uindbase Font 1";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}