.footer {

   padding-bottom: 75px;

   &__links {
      display: flex;
      flex-direction: column;
      gap: 3px;
   }

   &__copyrights {
      max-width: 325px;
      width: 100%;
      display: flex;
      gap: 16px;
      flex-direction: column;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
   }

   &__social {
      padding-top: 10px;
   }
}

.footer-container {
   max-width: 1243px;
   display: flex;
   justify-content: space-between;
   gap: 32px;
   flex-wrap: wrap;
}

.footer__links .link__item {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 18px; 
}

.copyrights {

   &__logo {
      display: flex;
      gap: 10px;
      margin-left: -10px;
      font-size: 35px;
      line-height: 25px;
      letter-spacing: -2px;
      gap: 20px;
      img {
         display: block;
         margin-top: -15px;
         height: 30px;
      }
      span {
         display: inline-block;
         font-family: "Uindbase Font 1";
         font-size: 35px;
         line-height: 25px;
         letter-spacing: -2px;
      }

   }

   &__item {
      text-align: center;
      word-spacing: 10px;
      line-height: 25px;
      a:hover {
         text-decoration: underline;
   }
   }
}


@media (max-width: 1600px){

}

@media (max-width: 1336px){

}

@media (max-width: 992px){

}

@media (max-width: 866px){
   .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .footer {

      padding-bottom: 35px;

      &__copyrights{
         order: 3;
      }
      &__links{
         order: 1;
      }
      &__social{
         order: 2;
      }
   }
}

@media (max-width: 510px){
   .copyrights__logo {

      img {
         height: 25px;
         margin-top: -7px;
      }
      span {
         font-size: 25px;
      }
   }
}