


@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans:wght@400;500;600;700&display=swap');

body {
   font-size: 16px;
   font-family: 'Michroma', sans-serif;
   color: #0F1319;
}

.container {

   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
   padding: 0 80px;
}

//!-------------------------components-----------------

.form-button {
   width: 198px;
   cursor: pointer;
   padding: 0 24px;
   height: 56px;
   line-height: 52px;
   text-align: center;
   border-radius: 28px; 
   color: #0F1319;
}

//!----------------------------header-------------------
.header {
   
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   z-index: 1000;
   // background: linear-gradient(180deg, rgba(15,19,25,1) 79%, rgba(15,19,25,0.5) 93%, rgba(255,255,255,0) 100%);
} 

.header-content {

   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 26px;
   padding-bottom: 26px;
   color: white;
   font-family: 'Michroma', sans-serif;
   img {
      height: 30px;
   }


		&__links {
         font-size: 16px;
      }

		&__links-item {
         margin-left: 32px;
      }

		&__button {

         outline: 2px solid #BFF489;
         background: none;
         color: white;
         &:hover {
            line-height: 56px;
            color: #0F1319;
            outline : none;
            background: linear-gradient(135deg, #BFF489 0%, #97DAFF 100%);
         }
         
      }

}

//!-----------------------------footer-------------------

.footer {

   background-color: #0F1319;
   padding-bottom: 80px;

   &__text {
      padding-top: 80px;
      background-color: #0F1319;
      color: white;
      &:after {
         content: " ";
         width: 100%;
         height: 1px;
         opacity: 0.2;
         background: #fff;
      }
   }

   &__links {
      padding-top: 80px;
      background-color: #0F1319;
      color: white;
      display: flex;
      justify-content: space-between;
      gap: 16px;
   }
}

.footer-text {

   &__title {
      
      margin-bottom: 16px;              
      font-family: 'Michroma';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 110%;
      /* identical to box height, or 44px */   
      text-align: center;      
      }

   &__text {
      margin-bottom: 56px;
      text-align: center;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 156%;
      color: #B0B4B9;      
   }

   &__button {
      margin-bottom: 80px;
      margin-left: 50%;
      transform: translateX(-50%);
      outline: 2px solid #BFF489;
      background: none;
      color: white;
      &:hover {
         line-height: 56px;
         color: #0F1319;
         outline : none;
         background: linear-gradient(135deg, #BFF489 0%, #97DAFF 100%);
      } 
   }
}

.footer-links {

   &__link-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 16px;
      max-width: 652px;
      width: 100%;
   }
}
.footer-copyright {

   &__logo {
      width: 221px;
      height: 31px;
      margin-bottom: 40px;
   }

   &__text {
      margin-bottom: 8px;
      font-family: 'Open Sans';
      font-weight: 500;
      font-size: 16px;
      line-height: 156%;
      color: #B0B4B9;
   }

   &__subtext {
      font-family: 'Open Sans';
      font-weight: 500;
      font-size: 12px;
      line-height: 156%;
      color: #5F6369;

   }
}
.footer-link-list {

   &__title {
      font-weight: 400;
      font-size: 24px;
      color: #EEF2F8;
   }

   &__content {
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 170px;
      
   }

   &__item {
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #B0B4B9;
   }
}
